<div class="education-container">
    <div class="heading">Education</div>
    <div class="education-tile">
        <div class="title">Bachelor of Technology(B.Tech) - Information Technology</div>
        <div class="institute">Haldia institute of Technology</div>
        <div class="institute-location">Haldia (West Bengal)</div>
        <div class="timeline">2014-2018</div>
    </div>
    <br>
    <div class="education-tile">
        <div class="title">Higher Secondary Qualification</div>
        <div class="institute">Indian School of Learning</div>
        <div class="institute-location">Jharia,Dhanbad (Jharkhand)</div>
        <div class="timeline">2012-2014</div>
    </div>
    <br>
    <div class="education-tile">
        <div class="title">Secondary Qualification</div>
        <div class="institute">Indian School of Learning</div>
        <div class="institute-location">Jharia,Dhanbad (Jharkhand)</div>
        <div class="timeline">2010-2012</div>
    </div>
</div>