<div class="header-container">
    <div class="logo" (click)="goToHome()">Anubhav Sinha</div>
    <div class="home" (click)="goToHome()">Home</div>
    <div class="about" (click)="goToAbout()">About</div>
    <div class="skills" (click)="goToSkills()">Skills</div>
    <div class="education" (click)="goToEducation()">Education</div>
    <!-- <div class="work" (click)="goToWork()">Work</div> -->
    <div class="experiance" (click)="goToExperiance()">Experiance</div>
    <div class="contact" (click)="goToContact()">Contact</div>
</div>