<div class="about-container">
    <div class="heading">
        <div class="hello">Hello</div>
        <div class="name">I'm Anubhav Sinha...</div>
    </div>
    <div class="content">
        I'm a Bengaluru-based software engineer, currently building the web application for a US based Analytics Company, FICO. <br>

 With a quite successful career startup across the business, technologies, and a wealth of interaction with Developers, Project Managers, leads, Testers & offshore teams, I bring unique perspective to the table. <br>

I am good at adapting to various environment and work settings. I am a highly focused, goal oriented person who loves challenges and look forward to learning. <br>

I would like to utilize my skills to solve complex business problems with intelligent and simple solutions which are easy to maintain & scale while building technical wealth.
    </div>
</div>