.experiance-container {
    padding-top: 200px;
    padding-left: 930px;
    padding-right: 30px;
    padding-bottom: 30px;
    .heading {
        font-size: 50px;
        font-family: 'Courier New', Courier, monospace;
    }
    .experiance-tile {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding-left: 10px;
        width: 750px;
        .duration {

        }
        .profile {
            font-size: 30px;
        }
        .company {
            font-size: 25px;
        }
    }
}