<section class="skills" id="skills">
    <h2 class="skill-header">My Top Skills</h2>

    <div class="skills-wrapper">
      <div class="first-set animate__animated animate__pulse">
        <img
          src="assets/Images/java.png"
          alt=""
          loading="lazy"
          class="icon icon-card"
        />
        <img
          src="assets/Images/SpringBoot.png"
          alt=""
          loading="lazy"
          class="icon icon-card"
        />
        <img
          src="assets/Images/git.png"
          alt=""
          loading="lazy"
          class="icon icon-card"
        />
      </div>

      <div class="second-set animate__animated animate__pulse">
        <img
          src="assets/Images/kafka.png"
          alt=""
          loading="lazy"
          class="icon icon-card"
        />
        <img
          src="assets/Images/angular.png"
          alt=""
          loading="lazy"
          class="icon icon-card"
        />
        <img
          src="assets/Images/Kubernetes.png"
          alt=""
          loading="lazy"
          class="icon icon-card"
        />
      </div>

      <div class="second-set animate__animated animate__pulse">
        <img
          src="assets/Images/docker.png"
          alt=""
          loading="lazy"
          class="icon icon-card"
        />
        <img
          src="assets/Images/gradle.png"
          alt=""
          loading="lazy"
          class="icon icon-card"
        />
        <img
          src="assets/Images/microservices.png"
          alt=""
          loading="lazy"
          class="icon icon-card"
        />
      </div>
    </div>
  </section>